#cargos_all {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.cargos-base {
    background-color: var(--team-color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.cargos-base > div {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 1.5vh;
}

#secret-cargo {
    width: 15vh;
}

#secret-cargo > div {
    margin-right: 0px;
}

#secret-cargo-timer {
    transform-origin: center;
    transform: rotate(90deg);
    font-family: var(--font-primary);
    margin: 0px;
}