#chatroom {
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    height: 100%;
}

#chatroom h1 {
    text-align: center;
    margin: 0 0 5px 0;
    padding-top: 15px;
    border-bottom: 1px solid black;
}

#chatroom #chat-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

#chatroom #chat-history > div {
    display: flex;
    padding: 3px 0;
}

#chatroom #chat-history .time {
    color: var(--fg2);
    margin-right: 5px;
    font-style: italic;
}

#chatroom #chat-history .player {
    color: var(--fg2);
    margin-right: 5px;
}

#chatroom #chat-history .text {
}

#chatroom #message-box {
    padding: 10px;
    box-sizing: border-box;
}

#chatroom #message-box input {
    display: block;
    border: 0;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    color: var(--input-fg);
    background: var(--input-bg);
    box-sizing: border-box;
    width: 100%;
}
