@import "variables.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
}

#create-game-main {
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 3vw;
    min-height: 100vh;
}

#create-game-main * {
    transition: height .8s ease-in-out, left .8s ease-in-out, box-shadow .8s, text-shadow .8s, padding .8s;
    -webkit-transition: height .8s ease-in-out, left .8s ease-in-out, box-shadow .8s, text-shadow .8s, padding .8s;
    -moz-transition: height .8s ease-in-out, left .8s ease-in-out, box-shadow .8s, text-shadow .8s, padding .8s;
    -ms-transition: height .8s ease-in-out, left .8s ease-in-out, box-shadow .8s, text-shadow .8s, padding .8s;
    -o-transition: height .8s ease-in-out, left .8s ease-in-out, box-shadow .8s, text-shadow .8s, padding .8s;
    box-sizing: border-box;
}

#create-game-main h1, #create-form h2 {
    text-shadow: 0 0 20px var(--logo-color);
}

#create-game-main label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 25px;
}

#create-game-name-input, 
#create-game-button,
.game-mode-btn,
#create-game-nr-div {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--text-color);
    height: 8vh;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px var(--text-color);
    color: var(--text-color);
    margin-top: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 50%;
}

#create-game-main button {
    flex-basis: 40%;
}

#create-game-main button#create-game-button {
    margin-top: 40px;
}

#create-game-main input {
    text-align: center;
}

#real-life-gameplay, 
#create-game-nr-div, 
#create-game-mode {
    margin-top: 30px;
}

#create-game-nr-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#game-mode {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

/* ------------------ Advanced settings ------------------ */
.create-game-advanced {
    /* display: none; */
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-game-main .create-game-advanced label {
    width: 50%;
    font-size: 19px;
    margin-top: 20px;
}

.create-game-inputs {
    width: 100%;
    flex-basis: 8vh;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 8px;
    box-shadow: 0 0 10px 1px var(--text-color);
    padding: 3px;
}

div.create-game-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- Overlay for choosing certain parameters ------- */
.choose-overlay {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

#choose-overlay * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#choose-overlay-close p {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15vw;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: 15px 15px;
    text-shadow: 0 0 10px var(--text-color);
}

#choose-overlay-close p:hover {
    cursor: pointer;
}

#choose-overlay-container {
    height: 50vh;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#choose-overlay-container h2 {
    font-size: 10vw;
    text-shadow: 0 0 20px var(--logo-color);
}

#picker-container,
#changedDurationsBtn {
    flex-basis: 40%;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 10vh;
    box-shadow: 0 0 10px 2px var(--text-color);
    color: var(--text-color);
}

#picker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    flex-basis: 10vh;
}

.inputFieldsOverlay {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    height: 100%;
    flex: 48% 1 1;
}

#picker-seperator {
    font-size: 7vw;
    text-shadow: 0 0 10px var(--text-color);
}

#create-game-main button#changedDurationsBtn {
    background-color: transparent;
    width: 70%;
    flex-basis: 8vh;
    text-shadow: 0 0 10px var(--text-color);
    font-size: 20px;
}

#durationError {
    color: var(--logo-color);
}

/* ----------------- Toggle-classes ------------------- */

.advancedSettingsShow {
    /* display: block; */
    height: 90vh;
    padding: 4vh 0;
}

.showOverlayDuration {
    /* display: flex; */
    left: 0;
}

.activeBtn {
    box-shadow: 0 0 10px 2px var(--logo-color);
    border: 1px solid var(--logo-color);
}