@import "variables.css";
@import "team-rocket.css";
@import "timer.css";
@import "stations.css";
@import "racks.css";


body {

    margin: 0;

}

 

#root {

     width: 100vw;

     height: 100vh;

     background-image: url('../../assets/play-bg.png');

     background-repeat: no-repeat;

     background-position: center;

     background-size: cover;

     color: var(--text-color);

}




#teams div:hover,
#actions div:hover,
#player-actions div:hover,
#racks div:last-child span:hover,
#pocket:hover,
#temporary-pocket:hover {
    cursor: pointer;
    background: #ddd;
}

#racks div span {
    display: inline-block;
    /*padding: 3px;
    margin: 0 2px;
    background: #eee;*/
}

#menu {
    width: 18vw;
    border-radius: 7px;

    background-color: white;

    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

#quit {
    width: 18vw;
    border-radius: 7px;

    background-color: white;

    position: absolute;
    bottom: 2vw;
    left: 2vw;
}
