@import "variables.css";
@import "cargo.css";
@import "plan.css";

body {
    margin: 0;
}

#actions div:hover,
#player-actions div:hover,
#stations div:hover,
#racks div:last-child span:hover,
#pocket:hover,
#temporary-pocket:hover {
    cursor: pointer;
    background: #ddd;
}

#racks div span {
    display: inline-block;
    padding: 3px;
    margin: 0 2px;
    background: #eee;
}

#menu {
    width: 18vw;
    border-radius: 7px;

    background-color: white;

    position: absolute;
    bottom: 2vw;
    right: 2vw;
}
