#join {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

#join h2 {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
