#join {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

#join h2 {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

/*
#join h1 {
    font-family: var(--font-primary);
    text-shadow: 0 0 5px var(--logo-color);
    letter-spacing: .8px;
    font-size: 35px;
    margin: 40px 0 20px;
}
*/


/*
#join-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
*/

/*
#nameInput {
    font-size: 25px;
    padding: 15px 10px;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-bottom: 30px;
    width: 60vw;
    max-width: 260px;
    background-color: transparent;
    box-shadow: 0 0 15px var(--text-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    font-weight: 600;
}

::placeholder {
    color: var(--text-color);
    opacity: .8;
}
*/

/*
#join-form button {
    letter-spacing: .5px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    padding: 10px 5px;
    width: 145px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border: none;
    transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
}

#join-form button:hover {
    cursor: pointer;
}

#joinBtn {
    color: var(--logo-color);
    background-color: #f4f4f4;
    border-color: transparent;
}

#joinBtn:hover, #joinBtn:active {
    background-color: #ffffffc9;
}
*/

    /*
#join-error {
    font-family: var(--font-primary);
    color: red;
}
*/
