#login-view {
    height: 100vh;
    flex-grow: 1;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 0 30px;
}

#login-view .login-error-active {
  opacity: 0 !important;
  transition: opacity 500ms ease;
}

#login-view #login-field {
  cursor: text;
  box-shadow: 0 0 10px 5px white;
  text-shadow: 0 0 5px white;
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 90%;
  height: 8%;
  margin-bottom: 10%;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  font-family: var(--font-primary);
}

#login-view #login-field::-webkit-input-placeholder {
  color: var(--text-color);
}

#login-view #login-field::-moz-placeholder {
  color: var(--text-color);
}

#login-view #login-field:-ms-input-placeholder {
  color: var(--text-color);
}

#login-view #login-field::-ms-input-placeholder {
  color: var(--text-color);
}

#login-view #login-field::placeholder {
  color: var(--text-color);
}

#login-view #login-button:hover,
#login-view #login-button:focus,
#login-view #login-field:hover,
#login-view #login-field:focus,
#login-view #login-field:active {
  box-shadow: 0 0 10px 5px var(--logo-color);
}

@media(min-width: 800px) {
  #login-view #login-logo {
    height: 30%;
    margin-bottom: 2%;
  }

  #login-view #login-field {
    width: 50%;
  }

  #login-view #login-button {
    width: 30%;
  }
}
