
#main {
    height: 100vh;
    flex-grow: 1;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 0 30px;
}

#main > h2 {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
