
#main {
    height: 100vh;
    flex-grow: 1;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 0 30px;
}

#main > h2 {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

/*
#main button {
    width: 100%;
    padding: 15px 10px;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    max-width: 260px;
    background-color: transparent;
    box-shadow: 0 0 15px var(--text-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    transition: box-shadow 120ms ease;
}

#main button:hover,
#main button:active {
    box-shadow: 0 0 10px 5px var(--logo-color);
    cursor: pointer;
}
*/
