.planWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
}
#controlPanel {
    height: 10%;
    width: 100%;
}
#rocketBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rocket {
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 10px;
}
.one {
 background-color: lightskyblue;
}
.two {
    background-color: hotpink;
}
.three {
    background-color: purple;
}
.four {
    background-color: rgb(28, 106, 224);
}
#timer {
    display: flex;
    justify-content: center;
}
#actions {
    border: 5px double white;
    border-radius: 10px;
    height: 70%;
    width: 90vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 40vw);
    grid-gap: 5px;
    overflow-y: scroll;
    padding: 5px;
}
.availableAction {
    background-color: yellow;
    border: 2px solid white;
    width: 43vw;
    color: black;
    display: flex;
    flex-direction: column;
    text-align-last: left;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#player-actions {
    height: 10%;
    width: 90vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chosenAction {
    width: 22%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: grey;
}

#controlPanel, #actions, #player-actions {
    margin-top: 2%;
}
#timer {
    margin-top: 5%;
}
