.rocket-team-master-div {

            display: grid;

            grid-template-columns: auto auto auto auto auto auto;

            align-items: center;

            margin-top: 3%;

}

.rocket-team {

            background-image: url('../../assets/rocket.svg');

            background-repeat: no-repeat;

            background-position: center;

            text-align: center;

            background-size: 80%;

            grid-column: auto;

    grid-row: auto;

            /* margin-top: 4%; */

            text-align: center;

            justify-items: center;

            align-items: center;

            color: red;

            font-family: verdana, sans-serif; /* Too much variabilities on Fantasy font */

            /* height: 3.1vh;*/

}