.rocket-team-container {
	
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    padding: 1%;		
    height :30px;

}



.rocket {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	color: black;
	font-family: var(--font-fix);
	font-weight: bold;
	font-size: 100%;
	line-height: 2;
}

.rocket-team1 {
	background-image: url('../../assets/rocket1.svg');
}

.rocket-team2 {
	background-image: url('../../assets/rocket2.svg');
}

.rocket-team3 {
	background-image: url('../../assets/rocket3.svg');
}

.rocket-team4 {
	background-image: url('../../assets/rocket4.svg');
}