html {
    /* Main colors */
    --background-color: #242328;
    --text-color: #f4f4f4;
    /* Complementery colors */
    --comp-color-1: #660066;
    --comp-color-2: #291039;
    /* Team colors */

    /* 1. (original)
    --team-color-1: #33ffff;
    --team-color-2: #ff3399;
    --team-color-3: #cc00ff;
    --team-color-4: #0066ff;
    */

    /* 2. */
    --team-color-1: #33ffff;
    --team-color-2: #ff3399;
    --team-color-3: #FFF500;
    --team-color-4: #0066ff;

    /* 3. (based on planets)
    --team-color-1: #A49950;
    --team-color-2: #F1A6A5;
    --team-color-3: #875495;
    --team-color-4: #74C8D9;
    */

    /* Logo color */
    --logo-color: #ff00cc;

    /* Fonts
     * =====
     * Primary: Titles, buttons, etc
     * Secondary: Body text
     */
    --font-primary: "Rajdhani", Arial, sans-serif;
    --font-secondary: "Lato", Arial, sans-serif;
    --font-mono: 'Courier New', Courier, monospace;

    /*Game actions variables*/
    --game-action-on-cooldown-color: rgb(161, 189, 189);
    --game-action-selected-color: rgb(129, 161, 161);
    --game-action-text-color: rgb(0, 0, 0);
    --game-action-background-color: rgb(255, 255, 255);
    --game-action-font-size: 0.8rem;

    /* Create game variables */
    --font-size-title-big: 2vw;
    --font-size-title-small: 2vw;
    --font-size-label: 2vw;

    --your-team-color: #fff;
}
